.nom {
  text-align: center;
  font-size: 33px;
  margin-right: 1cm;
  color: brown;
}

.mov {
  width: 13cm;
  height: 10cm;
  margin-left: 11cm;
  margin-top: 1cm;
}
.ved {
  margin-left: 7cm;
}

button {
  width: 5cm;
  height: 1cm;
  background-color: lightslategrey;
  color: black;
  margin-top: 1cm;
  margin-left: 1cm;
}
